<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile>
    <img src="https://w7.pngwing.com/pngs/36/516/png-transparent-warframe-steam-game-computer-icons-art-warframe-game-by-warframe.png" alt="">
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/warframe']" routerLinkActive="router-link-active" >Warframes</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/mod']" routerLinkActive="router-link-active">MODS</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://static.wikia.nocookie.net/warframe/images/7/72/Fusion_Core_horizontal.png" alt="">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://i.ytimg.com/vi/TsMKW6Lr18Q/maxresdefault.jpg" alt="">
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/warframe-config']" routerLinkActive="router-link-active">Equipa tu warframe</a>
  </mat-grid-tile>
</mat-grid-list>
<mat-card-content>
